@{
    ViewBag.Title = "About";
}

<h3>My ASP.NET MVC application with an educational purpose.</h3>
<h5>Use of:</h5>
<p>- Ninject IoC MVC container</p>
<p>- Automapper with custom register implementation</p>
<p>- Repository Pattern</p>
<p>- Service Pattern</p>
