@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <p>Name: Ivaylo Kodov</p>
    <p>Town: Sofia</p>
    <p>Country: Bulgaria</p>
    <p title="Phone">GSM: 0897 90 33 53</p>
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">Ivaylo.Kodov@gmail.com</a><br />
</address>